name: Deploiement alpine avec nginx

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load OpenStack credentials
        run: |
          source /var/snap/microstack/common/etc/microstack.rc

      - name: Deploiement VM sur OpenStack
        run: |
          chmod +x scripts/deploy_vm.sh
          ./scripts/deploy_vm.sh
