#cloud-config
package_update: true

packages:
  - nginx

runcmd:
  - rc-update add nginx default
  - rc-service nginx start
  - mkdir -p /var/www/localhost/htdocs
  - echo "<h1>TP OpenStack</h1><p>Déployé via GitHub Actions</p>" > /var/www/localhost/htdocs/index.html

